 body {
     font-family: "Jost", sans-serif;
     color: #1a202c;
     /* overflow: hidden;  */
     scroll-behavior: smooth !important;

 }
 .story-script {
  font-family: "Story Script", sans-serif;
  
}

 .cursor-dot {
     height: 10px;
     width: 10px;
     background-color: black;
     border-radius: 50%;
     position: fixed;
     top: 0;
     left: 0;
     transform: translate(-50%, -50%);
     pointer-events: none;
     z-index: 9999;
 }

 .carousel-item {
     height: 100vh;
 }

 .caption {
     z-index: 3;
 }

 .carousel-item::before {
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: rgba(0, 0, 0, 0.2);
     /* darkness level */
     z-index: 1;
 }

 .nav-bar-custom {
     position: fixed;
     top: 0;
     right: 0;
     z-index: 9998;
     width: 100%;
 }

 .custom-btn {
     background-color: transparent;
     color: white;
     border-color: white;
     border-radius: 0;
 }

 /* .call-btn {
  position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #28a745;
    color: white;
    border-radius: 50%;
    box-shadow: 0 0 0 rgba(40, 167, 69, 0.7);
    z-index: 1050;
    transition: transform 0.3s ease-in-out, background-color 0.3s;
    animation: pulse-ring 1.8s infinite;
 }

 .call-btn:hover {
     background-color: #218838;
     transform: scale(1.1);
 } */


 /* @keyframes pulse-ring {
    0% {
        box-shadow: 0 0 0 0 rgba(40, 167, 69, 0.7);
    }
    70% {
        box-shadow: 0 0 0 15px rgba(40, 167, 69, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(40, 167, 69, 0);
    }
} */

@-webkit-keyframes pulse{
  0%{
    -webkit-transform: scale(0.9);
  }
  50%{
    -webkit-transform: scale(1.1);
  }
  100%{ 
    -webkit-transform: scale(0.9);
  }
}
.mypage-alo-phone {
    position: fixed;
    right: 20px;
    bottom:20px;
    visibility: visible;
    background-color: transparent;
    width: 110px;
    height: 110px;
    cursor: pointer;
    z-index: 200000 !important;
}
.mypage-alo-ph-img-circle {
        width: 50px;
        height: 50px;
        top: 43px;
        left: 43px;
        position: absolute;
        background:  url(https://i.imgur.com/J9AXAq7.png) no-repeat center center;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        border: 2px solid transparent;
        opacity: .7;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        -webkit-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        -o-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        background-color: #366bfd;
        background-size: 70%;
      -webkit-animation: pulse 01s infinite;
}
.mypage-alo-ph-circle-fill {
  
    width: 80px;
    height: 80px;
    top: 28px;
    left: 28px;
    position: absolute;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    background-color: rgba(156, 143, 244, 0.5);
    opacity: .75 !important;
    -webkit-animation: pulse 1s infinite;
}
.mypage-alo-ph-circle{
    width: 90px;
    height: 90px;
    top: 12px;
    left: 12px;
    position: absolute;
    background-color: transparent;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid rgba(30, 30, 30, 0.4);
    opacity: .1;
    border-color:#ffb56b;
    opacity: .5;
}

 .call-btn {
     animation: pulse 2s infinite;
 }
 .service-section .card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border: 2px solid #0000;
  border-radius: 12px;
  background: linear-gradient(#ffffff, #ffffff) padding-box, linear-gradient(
        var(--angle),
        #ffffff,
        #3f8cf4
      ) border-box !important;
  animation: 8s rotate linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.service-section{
    height: 100vh;
    display: flex;
    align-items: center;
}

 @media (max-width:639px) {
    .service-section{
    height: auto;
    }
   
}